@{
    ViewData["Title"] = "Index";
}

<form action='@Url.Action("IniciarSesion", "Home")' method="POST" enctype="application/x-www-form-urlencoded">
    Ingrese su nombre de usuario: <input type="text" name="nombreUsuario"/>
    Ingrese su contraseña: <input type="text" name="contraseña"/>
    <input type="submit" value="Guardar"/>
</form>

